<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frmMain.Properties.Settings.TRACNGHIEMConnectionString"
            connectionString="Data Source=LOI;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="frmMain.Properties.Settings.TRACNGHIEMConnectionString1"
            connectionString="Data Source=LOI;Initial Catalog=TRACNGHIEM;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>






   
    
</configuration>
